* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #c2e2c3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.review-form-container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  max-width: 950px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.form-image-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.form-section {
  flex: 1;
}

.image-section {
  flex-shrink: 0;
}

.image-section img {
  width: 400px;
  height: auto;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 32px;
  color: #1e1e1e;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

input, textarea, select {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
}

textarea {
  height: 100px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.add-btn {
  background-color: #1e734b;
  color: white;
  border: none;
  padding: 10px;
  width: 50%;
  border-radius: 8px;
  cursor: pointer;
}

.back-btn {
  background-color: orange;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 50%;
  border-radius: 8px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .form-image-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .image-section img {
    width: 220px;
    margin-top: 20px;
  }
}
