/* Basic body styling */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #dff1d6; /* Soft green */
}

/* Centered page content */
.container {
  text-align: center;
  padding: 40px;
  margin-bottom: 10px;
}

/* Main title color */
h1 {
  color: #1e463a;
}

/* Main card with form */
.card {
  display: flex;
  max-width: 800px;
  max-height: 425px;
  margin: 30px auto;
  background-color: #fffdf5;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Split sections */
.left,
.right {
  flex: 1;
  padding: 40px;
}

.left h2 {
  color: #003322;
}

.left p {
  color: #003322;
  margin-bottom: 20px;
}

/* Form layout */
form {
  display: flex;
  flex-direction: column;
}

/* Input styling */
input {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* Forgot password link */
.forgot {
  text-align: right;
  margin-bottom: 10px;
  font-size: 14px;
  color: #6942a6;
  text-decoration: none;
}

/* Login button */
button {
  padding: 12px;
  background-color: #7f58af;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #6942a6;
}

/* Signup redirect */
.signup {
  margin-top: 15px;
  font-size: 14px;
}

.signup a {
  color: #6942a6;
  text-decoration: none;
}

/* Image on the right */
.right img {
  max-width: 150%;
  height: auto;
  margin-right: 20px;
}

/* Header styles */

.logo-header {
  font-size: 26px;
  font-weight: bold;
  color: #003322;
}

.logo-group {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
}
/* Footer Styling */

.footer-bottom {
  text-align: center;
  font-size: 13px;
  margin-top: 50px;
  color: #003322;
}
/* Logo group inside header */
.logo-group {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
}
